<footer class="rodapé">
  <h2 class="rodapé__titulo">Desenvolvedor Backend Java</h2>
  <ul class="lista-rodapé">
    <li class="lista-rodapé__titulo">Redes Sociais</li>
    <li class="lista-rodapé__item">
      <img src="/assets/img/CasaDoCodigo.svg" alt="Logo da casa do código" />
      <a href="https://github.com/JoelMaciel" class="lista-rodapé__link"
        >GitHub</a
      >
    </li>
    <li class="lista-rodapé__item">
      <img src="/assets/img/Caelum.svg" alt="Logo da caelum" />
      <a
        href="https://www.linkedin.com/in/joelmaciel-java-backend/"
        class="lista-rodapé__link"
        >Linkedin</a
      >
    </li>
  </ul>
</footer>
